<h2 id='title'>Ember-g-map Component</h2>

<form {{action 'updateAdressQuery' on='submit'}}>
  <p>
    <label>Address Query for Bound Marker</label>
    {{input value=addressQueryInput}}
  </p>
  <p>
    <button type='submit'> Update bound marker </button>
  </p>
  <p>
    <button {{action 'toggleRouteColor'}}> Toggle route color </button>
  </p>
  <p>
    <button {{action 'togglePolylineCoords'}}> Toggle polyline coords </button>
  </p>
</form>
<p>
  <strong>Client Location Error:</strong> {{gMap.clientPosition.error}}
</p>

{{#g-map markersFitMode='live' options=customOptions as |context|}}

  {{#g-map-polyline context strokeColor='green' strokeWeight='10' strokeOpacity='0.3' as |coordinateContext|}}
    {{g-map-polyline-coordinate coordinateContext lat=37.7833 lng=-84.32333}}
    {{#if showingAllPolylineCoords}}
      {{g-map-polyline-coordinate coordinateContext lat=33.75432 lng=-84.38979}}
      {{g-map-polyline-coordinate coordinateContext lat=33.791111 lng=-84.32333}}
    {{/if}}
  {{/g-map-polyline}}

  {{g-map-marker context lat=33.791111 lng=-84.32333}}

  {{!-- {{#g-map-marker context lat=37.7433 lng=-122.3867 as |markerContext|}}
    {{#g-map-infowindow markerContext}}
      <h1>Bound InfoWindow</h1>
      <p>This InfoWindow is bound to a marker.</p>
      <p>It can has bound variables:</p>
      <p>Random: {{randomVariable}}</p>

      <p>And elements with actions:</p>
      <button {{action 'refresh'}}>Refresh</button>
    {{/g-map-infowindow}}
  {{/g-map-marker}} --}}

  {{#g-map-address-marker context address=addressQuery as |markerContext|}}
    {{#g-map-infowindow markerContext openOn='mouseover' closeOn='mouseout'}}
      <h1>Bound to Address Query</h1>
    {{/g-map-infowindow}}
  {{/g-map-address-marker}}

  {{!-- {{#g-map-infowindow context lat=33.786111 lng=-84.373333 onClose='onInfowindowClosed'}}
    <h1>Independent InfoWindow</h1>
    <p>This InfoWindow can be placed anywhere on the map.</p>
  {{/g-map-infowindow}} --}}

  {{g-map-infowindow context title='Blockless Infowindow' message='includes plain text'
                     lat=37.7633 lng=-122.4367 onClose=(action 'onInfowindowClosed')}}

  {{#g-map-route context strokeColor=routeColor strokeWeight=2 strokeOpacity=0.5 zIndex=10
                originLat=33.798349 originLng=-84.45044
                destinationLat=33.684446 destinationLng=-84.437014
                as |routeContext|}}
    {{g-map-route-address-waypoint routeContext address='Decatur, Georgia'}}
  {{/g-map-route}}

  {{#g-map-address-route context
                strokeColor='#00FF00'
                originAddress='East Point, Georgia'
                destinationAddress='Reynoldstown, Georgia'
                as |routeContext|}}
    {{g-map-route-address-waypoint routeContext address='Dalton, Georgia'}}
    {{g-map-route-address-waypoint routeContext address='Macon, Georgia'}}
    {{g-map-route-address-waypoint routeContext address='Athens, Georgia'}}
  {{/g-map-address-route}}

  {{g-map-route context strokeColor=routeColor strokeWeight=6 strokeOpacity=0.5 zIndex=10
                originLat=33.689257 originLng=-84.45739
                destinationLat=33.684446 destinationLng=-84.437014}}

  {{g-map-address-route context
                originAddress='Doraville, Georgia'
                destinationAddress='Georgia State University'}}

  {{#g-map-marker context label='22' lat=gMap.clientPosition.lat lng=gMap.clientPosition.lng as |geolocationContext|}}
    {{#g-map-infowindow geolocationContext}}
      <h1>My browser thinks I'm here!</h1>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
{{/g-map}}
<div id='directionsPanel' />
